[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
anomalib = "*"
einops = "*"
FrEIA = "*"
imgaug = "*"
jupyter = "*"
kornia = "*"
lightning = "*"
matplotlib = "*"
numpy = "~=1.26.0"
onnxruntime = "*"
open-clip-torch = "*"
opencv-python = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
timm = "*"
torch = {version = "*", index = "pytorch-cpu"}
torchvision = {version="*", index="pytorch-cpu" }

[requires]
python_version = "3.10"